FORMAT: 1A
HOST: http://mir24.ru/api/v1

# mir24

Документация к  апи сервера мир24.

## Общие [/]

### ✔ Получить массив дополнительной информации [POST /additions]

Получает JSON с полями. Возвращает массив запрошенных полей

+ Request (application/json)

        [
            "branches",
            "geotags",
            "supertags",
            "copyrights"
        ]

+ Response 200 (application/json)

    + Body

            {
                "branches" : { 
                    "22": {
                        "id": 22,
                        "value": "Казахстан",
                    },
                    "23": {
                        "id": 23,
                        "value": "Беларусь",
                    },
                    "24": {
                        "id": 24,
                        "value": "Грузия",
                    "25": {
                        "id": 25,
                        "value": "Кыргызстан"
                    }
                },
                "geotags" : { 
                    "32": {
                        "id": 32,
                        "value": "США и Канада",
                    },
                    "33": {
                        "id": 33,
                        "value": "Латинская Америка",
                    },
                    "34": {
                        "id": 34,
                        "value": "Австралия и океания",
                    "35": {
                        "id": 35,
                        "value": "Кыргызстан"
                    }
                },
                "supertags" : { 
                    "42": {
                        "id": 42,
                        "value": "Кухни мира",
                    },
                    "43": {
                        "id": 43,
                        "value": "Культура",
                    },
                    "44": {
                        "id": 44,
                        "value": "Спорт",
                    "45": {
                        "id": 45,
                        "value": "Путеводитель"
                    }
                },
                "copyrights": {
                    "1": {
                        id:1,
                        origin: '© Фото: «Мир24»',
                        author: [
                            'Мария Чегляева',
                            'Сергей Минеев',
                            'Максим Кулачков',
                            'Алан Кациев',
                            'Татьяна Константинова',
                            'Татьяна Рублева',
                            'Алексей Верпека',
                            'Дмитрий Белицкий',
                            'Виталий Залесский',
                            'Анна Тимошенко',
                            'Владимир Свояченко',
                            'Дмитрий Светлов',
                            'Петр Королев',
                            'Елена Андреева',
                            'Елизавета Шагалова',
                            'Елена Карташова'
                        ],
                        href:''
                    },
                    "2": {
                        id:2,
                        origin: '© Фото: ТАСС',
                        author: [],
                        href:''
                    },
                    "3": {
                        id:3,
                        origin: '© Фото: NASA',
                        author: [],
                        href:'https://www.nasa.gov/'
                    },
                    "4": {
                        id:4,
                        origin: 'Фото: Официальный сайт Госдумы',
                        author: [],
                        href:'http://duma.gov.ru/'
                    },
                    "5": {
                        id:5,
                        origin: 'Фото: Официальный сайт правительства РФ',
                        author: [],
                        href:'http://government.ru'
                    },
                    "6": {
                        id:6,
                        origin: 'Фото: Сайт правительства РФ',
                        author: [],
                        href:'http://premier.gov.ru/'
                    },
                    "7": {
                        id:7,
                        origin: 'Фото: Пресс-служба президента РФ',
                        author: [],
                        href:'http://kremlin.ru/'
                    },
                    "8": {
                        id:8,
                        origin: 'Фото: МЧС России',
                        author: [],
                        href:'http://www.mchs.gov.ru/'
                    },
                    "9": {
                        id:9,
                        origin: 'Фото: ГАЗПРОМ',
                        author: [],
                        href:'http://gazprom.ru'
                    },
                    "10": {
                        id:10,
                        origin: 'Фото: Министерство обороны РФ',
                        author: [],
                        href:'http://mil.ru/'
                    },
                    "11": {
                        id:11,
                        origin: 'Фото: РОСКОСМОС',
                        author: [],
                        href:'http://www.federalspace.ru/'
                    },
                    "12": {
                        id:12,
                        origin: 'Фото: Официальный сайт ГУ МВД по г.Москве',
                        author: [],
                        href:'http://petrovka38.ru/'
                    },
                    "13": {
                        id:13,
                        origin: '© Фото: РИА Новости',
                        author: [],
                        href:''
                    }
                }
            }

### Поиск по связанным материалам: новости, статьи, фотоленты, видеосюжеты [POST /relatedMaterials/search]

Принимает строку. Возвращает ассоциативный массив новостей, сюжетов, статей, фотолент и видеосюжетов, в title которых входит принятая подстрока.

+ Request (application/json)

        {
          "query": "важная связанная новость"
        }

+ Response 200 (application/json)

           {
           "news":{
               "12744": {
                "status": "active",
               "views": 1885,
               "author": "Prof. Ben Renner II",
               "main_center": false,
               "main_top": false,
               "rubric_top": false,
               "lightning": false,
               "promo": false,
               "date_start": 634912200,
                   "date_end": 634912200,
               "title": "Очень важная связанная новость.",
               "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
               "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
               "text": "Repudiandae et amet numqus non.",
               "topic_id": 10,
               "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
               "related_news": [5435,2345,3654,4674],
               "related_video_articles": [3451,2435,3543,4654],
               "related_articles": [2341,2432,3565,4768],
               "related_galleries": [1775,6782,5763,4676],
               "video_src": "http:\/\/path.com",
               "remove_after_36": false,
               "last_edit_by": "ultrices.a@nonjusto.ca",
               "created_by": "millie.zieme@example.net",
               "country_top": false,
               "created": 634912200,
               "updated": 634912200,
               "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
               "img_title": "dolor",
               "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
               "supertags": [16],
               "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
               "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
               "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
               "geotag": 0,
               "branches": [16],
               "tags": [],
               "last_edit_date": 634912200,
               "last_edit_time": 634912200,
               "last_edit_video_by": "ultrices.a@nonjusto.ca",
               "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                }
            }
        }
          

### Поиск по связанным сюжетам [POST /relatedTopics/search]

Принимает строку. Возвращает ассоциативный массив сюжетов, в title которых входит принятая подстрока.

+ Request (application/json)

        {
          "query": "важный связанный сюжет"
        }

+ Response 200 (application/json)

           {
           "1": {
                "id": "1",
                "title": "Очень важный связанный сюжет",
                "priority": 1,
                "created": 1467280326861,
                "updated": 1467280326861,
                "deleted": false
                }
            }
        }
          
### Удалить модель [PUT /deleteHardCautionDontTouchThis]

Принимает название модели и id записи, кроторую надо удалить.

+ Request (application/json)

        {
            "news":  "21"
        }

+ Response 200 (application/json)

            {
                "Job": "is done"
            }

## Все модели All [/all]

### Получить ассоциативные массивы запрошенных  сущностей [POST /all/mass]

Принимает ассоциативный массив. Ключи - имена сущностей. Значения - массивы id.

+ Request (application/json)

            {
                "news": [1,2,3],
                "articles": [1,2,3],
                "videostories": [],
                "galleries":[1,2,3]
            }

+ Response 200 (application/json)

    + Body
    
                {
                "news": {
                    "1": {
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                        "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    },
                    "2": {
                        "id": 2,
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    },
                    "3": {
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    }
                },
                "articles": {
                    "1": {
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    },
                    "2": {
                        "id": 2,
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    },
                    "3": {
                        "id": 3,
                       "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    }
                },
                "videostories": null,
                "galleries": {
                    "1": {
                        "id": 1,
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    },
                    "2": {
                        "id": 2,
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    },
                    "3": {
                        "id": 3,
                        "status": "active",
                       "views": 1885,
                       "author": "Prof. Ben Renner II",
                       "main_center": false,
                       "main_top": false,
                       "rubric_top": false,
                       "lightning": false,
                       "promo": false,
                       "date_start": 634912200,
                   "date_end": 634912200,
                       "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                       "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                       "text": "Repudiandae et amet numqus non.",
                       "topic_id": 10,
                       "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                       "related_news": [5435,2345,3654,4674],
                       "related_video_articles": [3451,2435,3543,4654],
                       "related_articles": [2341,2432,3565,4768],
                       "related_galleries": [1775,6782,5763,4676],
                       "video_src": "http:\/\/path.com",
                       "remove_after_36": false,
                       "last_edit_by": "ultrices.a@nonjusto.ca",
                       "created_by": "millie.zieme@example.net",
                       "country_top": false,
                       "created": 634912200,
                       "updated": 634912200,
                       "images": ["https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg","https:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/85\/Smiley.svg"],
                       "img_title": "dolor",
                       "img_alt": "Error quod cum sunt rem. Nobis maioreem.",
                       "supertags": [16],
                       "copyright_origin": "Saepe aut qui eum beatae delectus. Aum sit magnam.",
                       "copyright_author": "Voluptatem veniam quia perspiciatis doloribus voluptatem qui. Qui tempora id ut quas quae iure dicta.",
                       "copyright_link": "Et possimus quas consequatur qui optio. Maxime abo.",
                       "geotag": 0,
                       "branches": [16],
                       "tags": [],
                       "last_edit_date": 634912200,
                       "last_edit_time": 634912200,
                       "last_edit_video_by": "ultrices.a@nonjusto.ca",
                       "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    }
                }
            }

## Статьи Articles [/articles]

### Поиск по статьям [POST /articles/search]

+ Response 200 (application/json)

### Поиск по статьям с лимитом и смещением [POST /articles/search/{limit}/{offset}]

+ Response 200 (application/json)

### Проверить занятость статьи [GET /articles/{id}/editor/]

+ Response 200 (application/json)

### Получить статью по id [GET /articles/{id}]

+ Response 200 (application/json)

### Получить статьи по массиву id [POST /articles/mass]

+ Response 200 (application/json)

### Получить ассоциативный массив статей [GET /articles/{limit}/{offset}]

+ Response 200 (application/json)

### Создать статью [POST /articles/add]

+ Response 200 (application/json)
 
### Создать статью со связанными моделями [POST /articles/add/related]

+ Response 200 (application/json)

### Изменить статью [PUT /articles/update]

+ Response 200 (application/json)

### Изменить статью со связанными моделями [PUT /articles/update/related]

+ Response 200 (application/json)



## Фотоленты Galleries [/galleries]

### Поиск по фотолентам [POST /galleries/search]

+ Response 200 (application/json)

### Поиск по фотолентам с лимитом и смещением [POST /galleries/search/{limit}/{offset}]

+ Response 200 (application/json)

### Проверить занятость фотоленты [GET /galleries/{id}/editor/]

+ Response 200 (application/json)

### Получить фотоленту по id [GET /galleries/{id}]

+ Response 200 (application/json)

### Получить фотоленты по массиву id [POST /galleries/mass]

+ Response 200 (application/json)

### Получить ассоциативный массив статей [GET /galleries/{limit}/{offset}]

+ Response 200 (application/json)

### Создать фотоленту [POST /galleries/add]

+ Response 200 (application/json)

### Создать фотоленту со связанными моделями [POST /galleries/add/related]

+ Response 200 (application/json)

### Изменить фотоленту [PUT /galleries/update]

+ Response 200 (application/json)

### Изменить фотоленту со связанными моделями [PUT /galleries/update/related]

+ Response 200 (application/json)


## Видеосюжеты Video Articles [/video_articles]

### Поиск по видеосюжетам [POST /video_articles/search]

+ Response 200 (application/json)

### Поиск по видеосюжетам с лимитом и смещением [POST /video_articles/search/{limit}/{offset}]

+ Response 200 (application/json)

### Проверить занятость видеосюжета [GET /video_articles/{id}/editor/]

+ Response 200 (application/json)

### Получить видеосюжет по id [GET /video_articles/{id}]

+ Response 200 (application/json)

### Получить видеосюжеты по массиву id [POST /video_articles/mass]

+ Response 200 (application/json)

### Получить ассоциативный массив видеосюжетов [GET /video_articles/{limit}/{offset}]

+ Response 200 (application/json)

### Создать видеосюжет [POST /video_articles/add]

+ Response 200 (application/json)

### Создать видеосюжет со связанными моделями [POST /video_articles/add/related]

+ Response 200 (application/json)

### Изменить видеосюжет [PUT /video_articles/update]

+ Response 200 (application/json)

### Изменить видеосюжет со связанными моделями [PUT /video_articles/update/related]

+ Response 200 (application/json)


## Новости News [/news]

### Поиск по новостям [POST /news/search]

    Получает JSON. Если поля name/creator имеют значение true, то ведется поиск новости, содержащую строку (string) в этих полях и имеющую указанные поля (если их значения тоже true)
    
+ Request (application/json)

        {
           "query": "главный вопрос жизни вселенной и всего такого",
           "flags": {
              "deleted": false,
              "active": false,
              "inactive": false,
              "date_start": false
           },
           "specs": {
              "date": "2016-07-30",
           },
           "target": {
              "title": true,
              "creator": false,
              "supertags": false,
              "lastRedactor": false,
              "videoLoader": false,
              "photoLoader": false
           }
        }
        
+ Response 200 (application/json)

            {
                "14828655": {
                    "id": 14828655,
                    "status": "deleted",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
            }
        }
            
### Поиск по новостям с лимитом и смещением [POST /news/search/{limit}/{offset}]

    Получает JSON. Если поля name/creator имеют значение true, то ведется поиск новости, содержащую строку (string) в этих полях и имеющую указанные поля (если их значения тоже true)

+ Request (application/json)

        {
               "query": "Смартфоны",
               "flags": {
                  "deleted": false,
                  "active": false,
                  "inactive": false,
                  "date_start": false
               },
               "specs": {
                  "date": "2016-07-30"li
               },
               "target": {
                  "title": true,
                  "creator": false,
                  "supertags": false,
                  "lastEditor": false,
                  "videoLoader": false,
                  "photoLoader": false
               },
               "sort": {
                   "date": "ASC",
                    "views": null
               }
        }
        
+ Response 200 (application/json)

        
           {
                "14828655": {
                    "id": 14828655,
                    "status": "deleted",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
            }
        }
            
            

            

### Проверить занятость новости [GET /news/{id}/editor/]

Возвращает значение поля cur_editor и ФИ по этому значению. Если оно пусто - возвращает null

+ Parameters

    + id: 3 (number) - id  новости

+ Response 200 (application/json)

        {
            id: 12,
            name: "Лев Толстой"
        }


### Получить новость по id [GET /news/{id}]

+ Parameters

    + id: 3 (number) - id требуемой  статьи

+ Response 200 (application/json)

        {
                    "id": 14828655,
                    "status": "deleted",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
        }
### Получить новости по массиву id [POST /news/mass]

Принимает массив id новостей возвращает ассоциативный массив новостей с соответствующими id

+ Request (application/json)

        {
            "id":  [
                "14828655",
                "14828656"
            ]
        }

+ Response 200 (application/json)

           {
                "14828655": {
                    "id": 14828655,
                    "status": "deleted",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
            },
            "14828656": {
                    "id": 14828656,
                    "status": "active",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Дурачок на хакатоне",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
            }
        }

### Получить ассоциативный массив новостей [GET /news/{limit}/{offset}]

+ Parameters

    + limit: 10 (number) - Лимит новостей
    + offset: 0 (number) - Смещение новостей

+ Response 200 (application/json)

            {
                "data": {
                "14828655": 
                    {
                        "id": 14828655,
                        "status": "deleted",
                        "views": 100,
                        "author": "",
                        "main_center": false,
                        "main_top": false,
                        "rubric_top": false,
                        "lightning": false,
                        "promo": false,
                        "title": "Смартфоны вместо кредиток",
                        "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                        "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                        "topic_title": "Хакатоны",
                        "related_news": [
                            14680147,
                            14693134
                        ],
                        "remove_after_36": false,
                        "last_edit_by": "ultrices.a@nonjusto.ca",
                        "created_by": null,
                        "country_top": false,
                        "deleted": false,
                        "topic_id": 3,
                        "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                        "date_start": null,
                        "date_end": null,
                        "created": 1470145262,
                        "updated": 1472637218,
                        "published": 1470145262,
                        "related_articles": [],
                        "related_galleries": [],
                        "related_video_articles": [],
                        "images": [
                            {
                                "id": 10989391,
                                "created_at": "2016-08-02 13:41:02",
                                "updated_at": "2016-08-31 09:54:19",
                                "date": null,
                                "height": null,
                                "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                                "width": null,
                                "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                                "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                                "deleted": null,
                                "copyright_id": 1,
                                "main": true,
                                "copyright_author": "",
                                "copyright_link": "",
                                "copyright_origin": ""
                            }
                        ],
                        "video_src": "",
                        "supertags": [],
                        "geotags": [],
                        "branch": 0,
                        "tags": [],
                        "last_edit_video_by": "ultrices.a@nonjusto.ca",
                        "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                    }
                },
                "meta": {
                    "count": "3",
                    "moreAhead": "false",
                    "moreBehind": "false"
                }
            }

### Создать новость [POST /news/add]

Получает JSON, содержащий поля для модели.

+ Request (application/json)

        {
                "status": "inactive",
                "views": 100,
                "author": "",
                "main_center": false,
                "main_top": false,
                "rubric_top": false,
                "lightning": false,
                "promo": false,
                "title": "Смартфоны вместо кредиток",
                "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                "topic_title": "Хакатоны",
                "related_news": [
                    14680147,
                    14693134
                ],
                "remove_after_36": false,
                "last_edit_by": "ultrices.a@nonjusto.ca",
                "created_by": null,
                "country_top": false,
                "deleted": false,
                "topic_id": 3,
                "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                "date_start": null,
                "date_end": null,
                "created": 1470145262,
                "updated": 1472637218,
                "published": 1470145262,
                "related_articles": [],
                "related_galleries": [],
                "related_video_articles": [],
                "images": [
                    {
                        "id": 10989391,
                        "created_at": "2016-08-02 13:41:02",
                        "updated_at": "2016-08-31 09:54:19",
                        "date": null,
                        "height": null,
                        "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                        "width": null,
                        "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                        "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                        "deleted": null,
                        "copyright_id": 1,
                        "main": true,
                        "copyright_author": "",
                        "copyright_link": "",
                        "copyright_origin": ""
                    }
                ],
                "video_src": "",
                "supertags": [],
                "geotags": [],
                "branch": 0,
                "tags": [],
                "last_edit_video_by": "ultrices.a@nonjusto.ca",
                "last_edit_photo_by": "ultrices.a@nonjusto.ca"
        }

+ Response 201 (application/json)

    + Headers

            Location: /news/12

    + Body

            {
                "success": {
                    "id": "12",
                    "status": "inactive",
                   "views": 1885,
                   "author": "Prof. Ben Renner II",
                   "main_center": false,
                   "main_top": false,
                   "rubric_top": false,
                   "lightning": false,
                   "promo": false,
                   "date_start": 634912200,
                   "date_end": 634912200,
                   "title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                   "seo_title": "Placeat dolorem dolor autuisquam blanditiis quo.",
                   "advert": "Culpa praesentium tenetur facere in. Culpa reprehenderRerum sed atque voluptate dolorem et velit.",
                   "text": "Repudiandae et amet numqus non.",
                   "topic_id": 10,
                   "topic_title": "ercitationem. Tempora voluptate iste laboriosam neque non asperiores.",
                   "related_news": [5435,2345,3654,4674],
                   "related_video_articles": [3451,2435,3543,4654],
                   "related_articles": [2341,2432,3565,4768],
                   "related_galleries": [1775,6782,5763,4676],
                   "video_src": "http:\/\/path.com",
                   "remove_after_36": false,
                   "last_edit_by": "ultrices.a@nonjusto.ca",
                   "created_by": "millie.zieme@example.net",
                   "country_top": false,
                   "created": 634912200,
                   "updated": 634912200,
                   "images": [{
                    "src": "https:\/\/i.ytimg.com\/vi\/aQXW0GhohR8\/hqdefault.jpg",
                    "title": "Путин",
                    "alt":"Путин",
                    "copyright_author":"Путин",
                    "copyright_link":"ya.ru", 
                    "copyright_origin":"Интерфакс", 
                    "main": true}],
                   "supertags": [16],
                   "geotag": 0,
                   "branches": [16],
                   "tags": [],
                   "last_edit_date": 634912200,
                   "last_edit_time": 634912200,
                   "last_edit_video_by": "ultrices.a@nonjusto.ca",
                   "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                },
                "error": {
                    "state": 'error state',
                    "message": 'error message'
                }
            }
            
### Создать новость со связанными моделями [POST /news/add/related]

Получает JSON, содержащий поля для модели.

+ Request (application/json)

        {
                    "status": "inactive",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
            }

+ Response 201 (application/json)

    + Body
    
            {
                "success": {
                    "id": "12",
                    "status": "inactive",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                },
                "error": {
                    "state": 'error state',
                    "message": 'error message'
                }
            }

### Изменить новость [PUT /news/update]

Получает JSON, содержащий поля для модели.

+ Request (application/json)

        {
                    "id": "12",
                    "status": "inactive",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
            }

+ Response 201 (application/json)

    + Headers

            Location: /news/12

    + Body

               {
                "success": {
                    "id": "12",
                    "status": "inactive",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                },
                "error": {
                    "state": 'error state',
                    "message": 'error message'
                }
            }

### Изменить новость со связанными моделями [PUT /news/update/related]

Получает JSON, содержащий поля для модели.

+ Request (application/json)

        {
                    "id": "12",
                    "status": "inactive",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
            }

+ Response 201 (application/json)

    + Headers

            Location: /news/12

    + Body

            {
                "success": {
                    "id": "12",
                    "status": "inactive",
                    "views": 100,
                    "author": "",
                    "main_center": false,
                    "main_top": false,
                    "rubric_top": false,
                    "lightning": false,
                    "promo": false,
                    "title": "Смартфоны вместо кредиток",
                    "advert": "Такой прогноз озвучил вице-президент Сбербанка по IT-технологиям Никита Волков на международном «дизайн-хакатоне» кредитной организации.",
                    "text": "<p>Россияне уже в 2018 году массово перейдут с расчетов по банковским картам на оплату с помощью мобильных телефонов.</p>",
                    "topic_title": "Хакатоны",
                    "related_news": [
                        14680147,
                        14693134
                    ],
                    "remove_after_36": false,
                    "last_edit_by": "ultrices.a@nonjusto.ca",
                    "created_by": null,
                    "country_top": false,
                    "deleted": false,
                    "topic_id": 3,
                    "seo_title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                    "date_start": null,
                    "date_end": null,
                    "created": 1470145262,
                    "updated": 1472637218,
                    "published": 1470145262,
                    "related_articles": [],
                    "related_galleries": [],
                    "related_video_articles": [],
                    "images": [
                        {
                            "id": 10989391,
                            "created_at": "2016-08-02 13:41:02",
                            "updated_at": "2016-08-31 09:54:19",
                            "date": null,
                            "height": null,
                            "src": "http://stc01.mir24.tv/media/images/uploaded/inner10989391.jpg",
                            "width": null,
                            "title": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "alt": "Россияне уже через два года перейдут с банковских карт на смартфоны",
                            "deleted": null,
                            "copyright_id": 1,
                            "main": true,
                            "copyright_author": "",
                            "copyright_link": "",
                            "copyright_origin": ""
                        }
                    ],
                    "video_src": "",
                    "supertags": [],
                    "geotags": [],
                    "branch": 0,
                    "tags": [],
                    "last_edit_video_by": "ultrices.a@nonjusto.ca",
                    "last_edit_photo_by": "ultrices.a@nonjusto.ca"
                },
                "error": {
                    "state": 'error state',
                    "message": 'error message'
                }
            }

## Сюжеты Topic [/topic]

### Получить сюжет по id [GET /topic/{model}]

+ Parameters

    + model: 12 (number) - id требуемой новости

+ Response 200 (application/json)

            {
                "topicId": "12",
                "createdAt": "31-12-2015 09:00",
                "title": "Самая худшая новость",
                "text": "Новости хуже Вы еще не встречали",
                "publishTime": "01-01-2016 09:00"
            }
            
### Поиск по заголовку [POST /topics/search]

    Получает строку. Возвращает  активные/не удаленные сюжеты, содержащие строку в заголовке

+ Request (application/json)

        {
          query: "Brexit"
        }

+ Response 200 (application/json)

            "3" : {
                "id": "3",
                "title": "Brexit",
                "priority": 2,
                "created_at": 1467280326861,
                "deleted": false
            }

### Получить массив сюжетов [GET /topics/{limit}/{offset}]

+ Parameters

    + limit: 10 (number) - Лимит новостей
    + offset: 0 (number) - Смещение новостей

+ Response 200 (application/json)

            {
                "data": {
                    "1": {
                                "id": "1",
                                "title": "Визит Путина в Китай",
                                "priority": 1,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": false
                            },
                            "2": {
                                "id": "2",
                                "title": 'Дело против Никиты Белых',
                                "priority": 2,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": true
                            },
                            "3": {
                                "id": "3",
                                "title": "Brexit",
                                "priority": 3,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": false
                            },
                            "4": {
                                "id": "4",
                                "title": "Гибель детей в Карелии",
                                "priority": 4,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": false
                            },
                            "5": {
                                "id": "5",
                                "title": "Саммит ШОС",
                                "priority": 4,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": true
                            },
                            "6": {
                                "id": "6",
                                "title": "Гости эфира",
                                "priority": 4,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": true
                            },
                            "7": {
                                "id": "7",
                                "title": "Большое интервью",
                                "priority": 4,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": false
                            },
                            "8": {
                                "id": "8",
                                "title": "ЕВРО-2016",
                                "priority": 4,
                                "created": 1467280326861,
                                "updated": 1467280326861,
                                "deleted": true
                            }
                },
                "meta": {
                    "count": "3",
                    "moreAhead": "false",
                    "moreBehind": "false"
                }
            }

### Создать сюжет [POST /topic/add]

Получает JSON, содержащий поля для модели.

+ Request (application/json)

        {
            "title": 'Дело против Никиты Белых',
            "priority": 2,
            "created": null,cs
            "updated": null,
            "deleted": false
        }

+ Response 201 (application/json)

    + Headers

            Location: /topic/12

    + Body

            {
                "id": "2",
                "title": 'Дело против Никиты Белых',
                "priority": 2,
                "created": 1467280326861,
                "updated": 1467280326861,
                "deleted": false
            }

### Изменить сюжет [PUT /topic/update]

Получает JSON, содержащий поля для модели.

+ Request (application/json)

            {
                "id": "1",
                "title": "Визит Путина в Китай",
                "priority": 1,
                "created": 1467280326861,
                "updated": 1467280326861,
                "deleted": false
            }

+ Response 201 (application/json)

    + Headers

            Location: /topic/12

    + Body

            {
                "id": "1",
                "title": "Визит Путина в Китай",
                "priority": 1,
                "created": 1467280326861,
                "updated": 1467280326861,
                "deleted": false
            }
            
## Баннеры Banners [/banners]

### Получить массив баннеров [GET /banners/{limit}/{offset}]

+ Parameters
    + limit: 10 (number) - Лимит баннеров
    + offset: 0 (number) - Смещение баннеров

+ Response 200 (application/json)
            
            {
            "1":{
                id: 1,
                code: "<div>Я имею очень высокий приоритет баннер</div>",
                start_date: "03-03-2003",
                end_date: "04-04-2004",
                priority: 5,
                deleted: false,
            },
            "2":{
                id: 2,
                code: "<div>Я имею высокий приоритет баннер</div>",
                start_date: "03-03-2003",
                end_date: "04-04-2004",
                priority: 4,
                deleted: false,
            },
            "3":{
                id: 3,
                code: "<div>Я имею очень низкий приоритет баннер</div>",
                start_date: "03-03-2003",
                end_date: "04-04-2004",
                priority: 1,
                deleted: false,
            },
            "4":{
             id: 4,
             code: "<div>Я имею средний приоритет баннер</div>",
                start_date: "03-03-2003",
                end_date: "04-04-2004",
                priority: 3,
                deleted: false,
            },
        }  

### Создать баннер [POST /banners/add]

+ Request (application/json)

        {
                code: "<div>Я имею высокий приоритет баннер</div>",
                start_date: "03-03-2003",
                end_date: "04-04-2004",
                priority: 4,
                deleted: false,
        }

+ Response 200 (application/json)

    + Headers
        
            Location: /banners/2
    
    + Body
        
            {
                "success": {
                    "id": "2"
                    }
            }

### Изменить баннер [PUT /banners/update]

+ Request (application/json)
            
            {
                id:3,
                code: "<div>Я измененный баннер</div>",
                start_date: "03-03-2003",
                end_date: "04-04-2004",
                priority: 3,
                deleted: false,
            }
            
+ Response 201 (application/json)
            
    + Headers
            
            Location: /topic/12

    + Body

            {
            "success": {
                "id": "4"
            },
            "error": {
                "state": 'error state',
                "message": 'error message'
            }
            }
            
## Врезки Incut [/incut]

### Получить врезку по id [GET /incut/{id}]

+ Parameters

    + id: 12 (number) - id требуемой  новости

+ Response 200 (application/json)

            {
                "id": "12",
                "createdAt": "31-12-2015 09:00",
                "title": "Самая худшая новость",
                "text": "Новости хуже Вы еще не встречали",
                "publishTime": "01-01-2016 09:00"
            }

### Получить массив врезок [GET /incut/{limit}/{offset}]

+ Parameters

    + limit: 10 (number) - Лимит новостей
    + offset: 0 (number) - Смещение новостей

+ Response 200 (application/json)

            {
                "data": [
                    {
                        "id": "11",
                        "createdAt": "31-12-2015 09:00",
                        "title": "Самая лучшая новость",
                        "text": "Новости лучше Вы еще не встречали",
                        "publishTime": "01-01-2016 09:00"
                    },
                    {
                        "id": "12",
                        "createdAt": "31-12-2015 09:00",
                        "title": "Самая лучшая новость",
                        "text": "Новости лучше Вы еще не встречали",
                        "publishTime": "01-01-2016 09:00"
                    },
                    {
                        "id": "13",
                        "createdAt": "31-12-2015 09:00",
                        "title": "Самая лучшая новость",
                        "text": "Новости лучше Вы еще не встречали",
                        "publishTime": "01-01-2016 09:00"
                    }
                ],
                "meta": {
                    "count": "3",
                    "moreAhead": "false",
                    "moreBehind": "false"
                }
            }
            
### Получить врезки к статье, новости, фотоленте и видеосюжету [GET /incuts/all]

Возвращает массив существующих врезок

+ Response 200 (application/json)
            
        [
            [
                'Секс взамен на «зачет»',
                '<div><div class="mm_test_content"><a href="http://mir24.tv/news/society/13929546"><img src="http://stc01.mir24.tv/media/images/original/original14577321.jpg"></a><div class="mm_test_title"><a href="http://mir24.tv/news/society/13929546"> На что идут студенты ради учебы в вузе </a></div></div></div>'
            ],
            [
                'Кто ответит за гибель детей?',
                '<div id="test_inner_banner"><div class="mm_test_header">Трагедия в Карелии</div><div class="mm_test_content"><a href="http://mir24.tv/news/incidentes/14594487"><img src="http://stc01.mir24.tv/media/images/original/original14610711.jpg"></a><div class="mm_test_title"><a href="http://mir24.tv/news/incidentes/14594487">Кто ответит за гибель детей?</a></div></div></div>'
            ]
        ]

## Источники Sources [/sources]

### Получить источники к статье, новости, фотоленте и видеосюжету [GET /sources/all]

Возвращает ассоциативный массив источников

+ Response 200 (application/json)
        
        {
            "1": {
                    href: "www.google.com",
                    name: "Google"
                },
            "2": {
                    href: "www.yandex.ru",
                    name: "Yandex"
                }
        }

## Сетки Grids [/grids]

### Получить сетку главной страницы [GET /grids/{modelName}]

Возвращает ассоциативный массив сетки страницы.

+ Parameters

    + modelName: "main" (string) - имя модели



+ Response 200 (application/json)

           [
                        {
                            cells: [
                                {
                                    "width": 0,
                                    "entity_id": 1,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 33,
                                    "entity_id": 2,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 33,
                                    "entity_id": 3,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 33,
                                    "entity_id": 4,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                }
                            ], props: {
                            line: false
                        }
                        },
                        {
                            cells: [
                                {
                                    "width": 0,
                                    "entity_id": 5,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 0,
                                    "entity_id": 6,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 50,
                                    "entity_id": 7,
                                    "entity_type": 'galleries',
                                    "style": 'default',
                                    "cover": true

                                },
                                {
                                    "width": 50,
                                    "entity_id": 8,
                                    "entity_type": 'video_articles',
                                    "style": 'default',
                                    "cover": true
                                }
                            ],
                            props: {
                                line: false
                            }
                        }
                    ]
          
### reseСохранить сетку главной страницы [POST /grids/{modelName}]

Сохранияет новую сетку страницы.

+ Parameters

    + modelName: "main" (string) - имя модели



+ Request (application/json)

           [
                        {
                            cells: [
                                {
                                    "width": 0,
                                    "entity_id": 1,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 33,
                                    "entity_id": 2,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 33,
                                    "entity_id": 3,
                                    "entity_type": 'news',
                                    "style": 'default',
                                    "cover": true
                                },
                                {
                                    "width": 33,
                                    "entity_id": 4,
[...]
